<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhenghc.mapper.CardMapper">

    <select id="selectList" resultType="zhenghc.entity.Card">
        select * from card_type
    </select>
    <select id="selectById" resultType="zhenghc.entity.Card">
        select * from card_type where id = #{cardId}
    </select>
</mapper>