<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhenghc.mapper.CourseMapper">
    <insert id="insert">
        insert into gym.course (course_name, course_type, coach_id, description, duration, capacity, difficulty_level, cover_image, status, price)
        value
        (#{courseName},#{courseType},#{coachId},#{description},#{duration},#{capacity},#{difficultyLevel},#{coverImage},#{status},#{price})
    </insert>
    <update id="update" parameterType="zhenghc.entity.Course">
        update gym.course
        <set>
            <if test="courseName != null">course_name = #{courseName},</if>
            <if test="courseType != null">course_type = #{courseType},</if>
            <if test="coachId != null">coach_id = #{coachId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="difficultyLevel != null">difficulty_level = #{difficultyLevel},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="status != null">status = #{status},</if>
            <if test="price != null">price = #{price},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from gym.course where id = #{id}
    </delete>


    <select id="selectAll" resultType="zhenghc.entity.vo.CourseVo">
        select c.* , u.real_name as coachName from gym.course c left join gym.user u on c.coach_id = u.id
    </select>
    <select id="selectByCourseId" resultType="zhenghc.entity.Course">
        select * from gym.course where id = #{courseId}
    </select>
</mapper>