<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhenghc.mapper.CourseScheduleMapper">
    <insert id="insert">
        insert into gym.course_schedule (course_id, coach_id, week_day, start_time, end_time, location, max_capacity, status)
        value
        (#{courseId},#{coachId},#{weekDay},#{startTime},#{endTime},#{location},#{maxCapacity},#{status})
    </insert>
    <update id="update" parameterType="zhenghc.entity.CourseSchedule">
        update gym.course_schedule
        <set>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="coachId != null">coach_id = #{coachId},</if>
            <if test="weekDay != null">week_day = #{weekDay},</if>
            <if test="startTime != null and startTime != ''">start_time = #{startTime},</if>
            <if test="endTime != null and endTime != ''">end_time = #{endTime},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="maxCapacity != null">max_capacity = #{maxCapacity},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByCourseId">
        delete from gym.course_schedule where course_id = #{courseId}
    </delete>
    <delete id="delete">
        delete from gym.course_schedule where id = #{id}
    </delete>

    <select id="selectAll" resultType="zhenghc.entity.vo.ScheduleListVo">
        select * from gym.course_schedule;
    </select>
</mapper>