<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhenghc.mapper.CourseMapper">


    <select id="selectAll" resultType="zhenghc.entity.vo.CourseVo">
        select c.* , u.real_name as coachName from gym.course c left join gym.user u on c.coach_id = u.id
    </select>
</mapper>