<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhenghc.mapper.BookingRecordMapper">
    <insert id="insert">
        insert into gym.booking_record (user_id, member_course_id, schedule_id, booking_date, booking_time, status)
        value
        (#{userId},#{memberCourseId},#{scheduleId},#{bookingDate},#{bookingTime},#{status})
    </insert>
    <update id="updateStatus">
        update gym.booking_record set status = #{status} where id = #{bookingRecordId}
    </update>
    <delete id="deleteById">
        delete from gym.booking_record where id = #{id}
    </delete>

    <select id="selectBookedNumByDate" resultType="zhenghc.entity.vo.ScheduleBookedNumVo">
        SELECT schedule_id, COUNT(*) AS number
        FROM booking_record
        WHERE booking_date BETWEEN #{param.startDate} AND #{param.endDate}
          AND status != 3
        GROUP BY schedule_id
    </select>
    <select id="selectUserBookedScheduleIds" resultType="zhenghc.entity.vo.BookedRCVo">
        SELECT DISTINCT schedule_id, id as bookingRecordId, status
        FROM gym.booking_record
        WHERE user_id = #{userId}
          AND booking_date BETWEEN #{startDate} AND #{endDate}
          AND status != 3
    </select>
    <select id="selectById" resultType="zhenghc.entity.BookingRecord">
        select * from gym.booking_record where id = #{bookingRecordId}
    </select>
    <select id="selectIdByMcId" resultType="java.lang.Long">
        select id from gym.booking_record where member_course_id = #{memberCourseId} and status  = 2
    </select>
    <select id="selectAllByUserId" resultType="zhenghc.entity.BookingRecord">
        select * from gym.booking_record where user_id = #{userId}
    </select>
</mapper>