<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhenghc.mapper.MemberCourseMapper">

    <insert id="insert">
        insert into gym.member_course (course_id, course_name, user_id, user_name, status, order_num)
        value
        (#{courseId},#{courseName},#{userId},#{userRealName},#{status},#{orderNum})
    </insert>
    <update id="updateStatus">
        update gym.member_course set status = #{status} where id = #{courseId}
    </update>
    <update id="updateStatusAndReason">
        update gym.member_course set status = #{status} , refuse_reason = #{refuseReason} where id = #{memberCourseId}
    </update>
    <select id="selectAll" resultType="zhenghc.entity.MemberCourse">
        select * from gym.member_course where user_id = #{userId}
    </select>
    <select id="selectById" resultType="zhenghc.entity.MemberCourse">
        select * from gym.member_course where id = #{id}
    </select>
    <select id="selectByBooking" resultType="zhenghc.entity.MemberCourse">
        select * from gym.member_course mc
        where mc.user_id = #{userId}
          and mc.status = 1
          and exists (
            select 1 from gym.course c
            where c.id = mc.course_id
              and c.course_type = 1
        )
    </select>
    <select id="selectByBookingPrivate" resultType="zhenghc.entity.vo.PrivateBookingListVo">
        select mc.*, u.real_name,c2.duration,c2.coach_id from gym.member_course mc
            left join gym.course c2 on mc.course_id = c2.id
                left join gym.user u on c2.coach_id = u.id
        where mc.user_id = #{userId}
          and (mc.status = 1 or mc.status = 2)
          and exists (
            select 1 from gym.course c
            where c.id = mc.course_id
              and c.course_type = 2
        )
    </select>
</mapper>