<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zhenghc.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">order_num,</if>
            <if test="userId != null">user_id,</if>
            <if test="orderAmount != null">order_amount,</if>
            <if test="paymentAmount != null">payment_amount,</if>
            <if test="paymentMethod != null">payment_method,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="paymentTime != null">payment_time</if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">#{orderNum},</if>
            <if test="userId != null">#{userId},</if>
            <if test="orderAmount != null">#{orderAmount},</if>
            <if test="paymentAmount != null">#{paymentAmount},</if>
            <if test="paymentMethod != null">#{paymentMethod},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="paymentTime != null">#{paymentTime}</if>
        </trim>
    </insert>
    <insert id="insertNew" useGeneratedKeys="true" keyProperty="id">
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">order_num,</if>
            <if test="userId != null">user_id,</if>
            <if test="orderAmount != null">order_amount,</if>
            <if test="paymentAmount != null">payment_amount,</if>
            <if test="paymentMethod != null">payment_method,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="paymentTime != null">payment_time</if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">#{orderNum},</if>
            <if test="userId != null">#{userId},</if>
            <if test="orderAmount != null">#{orderAmount},</if>
            <if test="paymentAmount != null">#{paymentAmount},</if>
            <if test="paymentMethod != null">#{paymentMethod},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="paymentTime != null">#{paymentTime}</if>
        </trim>
    </insert>
</mapper>